* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #ffffff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  i {
    margin-top: 16px;
    font-size: 30px;
  }
  .header-logo img {
    width: 130px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg.svg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 0%;
  opacity: 0.8;
}

.hero {
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 15px 0;
}

.button-contact {
  padding: 15px 28px;
  color: #ffffff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
  border-radius: 5px;
}

.button-contact:hover {
  animation: scaleButton 0.6s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 15px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  color: #ffffff;
  overflow: hidden;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  padding: 35px 6% 60px 6%;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 25px;
}
.about-description p {
  margin-bottom: 15px;
  line-height: 150%;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-description {
    padding: 0 9%;
  }
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #232224;
  padding: 54px 15px;
}

.services-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 15px;
}

.services-content p {
  line-height: 150%;
  text-align: center;
  margin-bottom: 35px;
  max-width: 750px;
}

.carts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5%;
  padding: 0 1.5%;
}

.cart-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 35px;
}
.cart-box img {
  width: 100%;
  max-width: 354px;
  transition: 0.2s;
}

.cart-box img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.cart-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  z-index: 2;
}

.cart-info button {
  color: #ffffff;
  background-color: #d94140;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  cursor: default;
}

@media (max-width: 820px) {
  .carts {
    flex-direction: column;
  }
  .cart-box img {
    max-width: 740px;
  }
}
.map h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  gap: 35px;
  text-align: center;
  color: #ffffff;
}

.footer-icons {
  display: flex;
  gap: 10px;
  color: #ffffff;
}

.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.btn-whatsapp {
  position: fixed;
  right: 25px;
  bottom: 15px;
  z-index: 3;
}
.btn-whatsapp img {
  max-width: 70px;
  transition: 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.15);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 150px;
  right: 80px;
  bottom: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #d34040;
  padding: 5px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 820px) {
  .btn-whatsapp img {
    max-width: 55px;
  }
  .btn-whatsapp .tooltip-text {
    right: 62px;
    bottom: 9px;
    width: 130px;
    font-size: 0.9rem;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #06121e;
  color: #ffffff;
  overflow-x: hidden;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */