$primary-normal-color: #06121e;
$primary-dark-color: #040f1a;
$primary-light-color: #0c2135;

$second-normal-color: #090d11;
$second-dark-color: #06090c;
$second-light-color: #1a1f25;

$black-normal-color: #232224;
$black-dark-color: #161617;
$black-light-color: #353436;

$white-normal-color: #ffffff;
$white-dark-color: #edeaef;
$white-light-color: #fefbff;

$red-normal-color: #d94140;
$red-dark-color: #b42b2b;
$red-light-color: #d34040;



